<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @copyright See LICENCE.md
 * @package   Driskell_Ibuprofen
 * @author    Jason Woods <devel@jasonwoods.me.uk>
 */
-->
<config>
    <modules>
        <Driskell_Ibuprofen>
            <version>1.3.7</version>
        </Driskell_Ibuprofen>
    </modules>
    <global>
        <blocks>
            <driskell_ibuprofen>
                <class>Driskell_Ibuprofen_Block</class>
            </driskell_ibuprofen>
            <page>
                <rewrite>
                    <html_head>Driskell_Ibuprofen_Block_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <driskell_ibuprofen>
                <class>Driskell_Ibuprofen_Model</class>
            </driskell_ibuprofen>
            <core>
                <rewrite>
                    <design_package>Driskell_Ibuprofen_Model_Mapper</design_package>
                </rewrite>
            </core>
        </models>
    </global>
    <default>
        <driskell_ibuprofen>
            <general>
                <active>0</active>
                <all_blocks>0</all_blocks>
                <separated_controller>0</separated_controller>
                <js_minification></js_minification>
                <css_minification></css_minification>
                <sourcemaps>0</sourcemaps>
                <debug>0</debug>
            </general>
        </driskell_ibuprofen>
    </default>
</config>
