<?xml version="1.0"?>
<!--
/**
 * @copyright See LICENCE.md
 * @package   Driskell_Ibuprofen
 * @author    Jason Woods <devel@jasonwoods.me.uk>
 */
-->
<config>
    <tabs>
        <driskell translate="label">
            <label>Driskell</label>
            <sort_order>101</sort_order>
        </driskell>
    </tabs>
    <sections>
        <driskell_ibuprofen translate="label">
            <label>Ibuprofen</label>
            <tab>driskell</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <frontend_type>text</frontend_type>
                    <comment>After modifying any settings, you will need to manually flush the CSS/JS cache from within System > Cache Management.</comment>
                    <fields>
                        <active translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enabling Ibuprofen alongside Magento CSS/JS concatenation (under Admin > Developer > Javascript Settings and CSS Settings) will split the store's JavaScript, CSS and other assets into two bundles. One bundle will contain site-wide default assets and the second page-specific assets. This will prevent per-page additional scripts and styles causing a second duplicated bundle with just those additions being served to the client, wasting bandwidth and slowing the page load.</comment>
                        </active>
                        <all_blocks translate="label">
                            <label>Enable for non-head blocks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Some themes may have additional areas for JavaScript and CSS that utilise the same Magento concatenation functionality. Ibuprofen, by default, will only work on the standard head block. Enabling this option will apply Ibuprofen to all other similar blocks should any exist.</comment>
                        </all_blocks>
                        <separated_controller translate="label">
                            <label>Separated controller action bundle</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This will generate a third bundle containing JavaScript and CSS attached to a controller's main handle. Useful if you have many custom modules adding controller specific scripts and you want to make the non-default scripts bundle more browser cacheable.</comment>
                        </separated_controller>
                        <minification translate="label">
                            <label>Minification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>driskell_ibuprofen/system_config_source_minification</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the type of minification to perform.</comment>
                        </minification>
                        <sourcemaps translate="label">
                            <label>Generate source maps</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This will generate a source map for each bundle pointing to the original source maps of the merged files (if they had any). It will at a minimum separate the merged files within a compatible inspector.</comment>
                        </sourcemaps>
                        <debug translate="label">
                            <label>Enable debug mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Wraps the bundle outputs with HTML comments containing the processing time in ms and which handles were processed.</comment>
                        </debug>
                    </fields>
                </general>
            </groups>
        </driskell_ibuprofen>
    </sections>
</config>
